<!DOCTYPE html>
<html lang="en">
<head>
    <title>Employee Attendence</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .navbar {
        background-color: aqua;
      }
      .navbar a {
          margin:0; /* Remove default margin */
        }
        .navbar .navbar-icon {
        width: 50px;
        height: 50px;
      }
    </style>
</head>
<body>
    <div class="navbar"> 
        <a href="{% url 'home' %}"> <h1 class="heading"><img src="/static/images/nscb_icon.png"  class="navbar-icon" alt="Icon">  NSCB Security</h1> </a>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="col-md-6 mt-4">
        <h1 class="mt-4">Employee Salary Payment</h1>
        <h2 class="msg" style="background-color: green;">{{ message }}</h2>
        <h2>Fetch Balance</h2>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id">Employee Id:</label>
                <input type="text" class="form-control" id="emp_id" name="emp_id" required>
            </div>
            <button type="submit" class="btn btn-primary">Fetch Balance</button>
        </form>
        <div class="form-group">
            <h3>Balance Amount: {{balance_amount}}</h3>
        </div>
        <form action="" method="post">
            <!-- Personal Information -->
            {% csrf_token %} 
            <div class="form-group">
                <label for="id">Employee Id:</label>
                <input type="text" class="form-control" id="emp_id" name="emp_id" required>
            </div>
            <div class="form-group">
                <label for="pd">Pay Date:</label>
                <input type="Date" class="form-control" id="pay_date" name="pay_date" required>
            </div>
            <div class="form-group">
                <label for="ap">Amount Paid:</label>
                <input type="number" class="form-control" id="sal_amount" name="sal_amount" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Pay Salary!!</button>
        </form>
        
    </div>
    </div>